# Created by .ignore support plugin (hsz.mobi)
.idea
venv/
venv1/
venv3/
/venv27/
*.log
.DS_Store
script/.DS_Store

/script/mikutools/*.json
/script/google/*.csv
/script/google/table/*.csv

test_file_resource/*
test_file_resource
/script/libmax/exist_dep_module.json
